/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.item-link {
    color: #337ab7;
}
.post-item .post-image .post-meta-category, .post-item .post-slider .post-meta-category, .post-item .post-video .post-meta-category, .post-item .post-audio .post-meta-category, .post-item .post-quote-img .post-meta-category {
    background: #337ab7;
}

.btn {
    background-color: #004a94;
    border-color: #004a94;
}

.button.color, .btn.btn-primary {
	background-color: #253993;
	border-color: #253993;
	color: #fff;
}
/*go to top*/

.btn:hover, .btn:focus, .btn:active, .btn.active {
   
    background-color: #253993;
    border-color: #253993;
    color: #fff;
}

.simple .tabs-navigation li.active a, .simple .tabs-navigation li.active a:focus, .simple .tabs-navigation li a:hover, .tabs-navigation li a {
    /*border-color: #253993;*/
    color: #253993;
    background-color: transparent;
    /*box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);*/
}
#header .header-extras #shopping-cart > a .shopping-cart-items {
   
    background:  #004a94;
}
#goToTop:after, #goToTop:before{
        background-color:#253993;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background-color: #253993;
    border-color: #253993;
}

.owl-carousel.arrows-creative .owl-nav [class*="owl-"]:hover {
    color: #004a94;
    background-color: #004a94;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light.active {
    background-color:  #ffffff;
    border-color:  #004a94;
    color: #fff;
}


.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active, .btn.btn-dark.active {
    background-color:#004a94;
    border-color: #004a94;
    color: #fff;
}

.tags a:hover, .tags a:focus, .tags a:active, .tags a.active {
    background-color:  #004a94;
    border-color:  #004a94;
    color: #fff;
}

.item-link:hover {
    color: #004a94;
}

a:focus, a:active {
   
    
    color: #004a94;
}

#header .header-extras #shopping-cart > a {
    color: #111;
}
#mainMenu.menu-overlay nav > ul > li {
   
    line-height: 30px;
    max-width: 100%;
}

#mainMenu.menu-overlay nav > ul > li > a {
 
       font-size: 28px;
   
}

#mainMenu.menu-overlay nav > ul > li > a:hover {
 
       color:#215c9b;
   
}

#header #top-search form input {
   
    font-size: 100%;
    border-radius: 7px;
    letter-spacing: 0px;
    background-color: #e5e9eccf;
    height: 40px;
    margin-top: 20px;    
    padding: 0 33px 0 17px;
    width: 76% !important;
    margin-left: 25%;
    
}

.topbar-dropdown .dropdown-invert.topbar-form {
    left: auto;
    right: -20px;
    margin-top: 23px;
}

 select {
   
   background-color: #fff;
}

.modal-strip.modal-active {
    background-color: #3f5de4;
    transform: translate3d(0px, 3px, 0px);
}

.noui-input-select,.noui-input-number {
	padding: 7px;
	margin: 15px 5px 5px;
	width: 70px;
    height: 30px;
    border-top-color: rgb(0, 74, 148);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(0, 74, 148);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(0, 74, 148);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(0, 74, 148);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 5px;
}

#input-select1,#input-number1 {
	padding: 7px;
	margin: 15px 5px 5px;
	width: 70px;
    height: 30px;
    border-top-color: rgb(0, 74, 148);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(0, 74, 148);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(0, 74, 148);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(0, 74, 148);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 5px;
}

#input-select2,#input-number2 {
	padding: 7px;
	margin: 15px 5px 5px;
	width: 70px;
    height: 30px;
    border-top-color: rgb(0, 74, 148);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(0, 74, 148);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(0, 74, 148);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(0, 74, 148);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 5px;
}

.hero-heading-2 {
 
    border-radius: 0px;
}

.grid-filter.gf-outline li:hover a, .grid-filter.gf-outline li.active a {
    border-color: #004a94;
    color: #004a94;
    
}

.countdown span:before {
    background:  #fff7f7;
}


.side-panel.side-panel-active.side-panel-push #side-panel {
   
    margin-top: -80px;
}
#footer {
    
    background-color: #f0f0f0;
}

del {
    
    font-size:14px
        
}
ins {
    color:#004a94;
    font-size:18px
}

 .portfolio-item .portfolio-description, .portfolio-item .grid-description, .grid-item .portfolio-description, .grid-item .grid-description {
   
    background-color: rgba(0,0,0,0.5);
    height:105%;
    width:100%;
}

 .page-menu.menu-lines nav li:hover a, .page-menu.menu-lines nav li.active a {
    color: #014a94;
}

 .ilk {

color: #014a94 !important;
 }

 .comments .comment_number span {
    color: #004a94;
}
 .comments .comment .text .comment-reply-link {
    color: #004a94;
   
}
 .respond-comment span {
    color:  #004a94;
}

 .ilk1 {

     color: #36b9cb !important;
 }
 .ilk2{
     color: #1eb6e5 !important;
 }
.ilk3{
    width:20%;
    height:auto
}

.productpay {

     color: #36b9cb !important;
     text-decoration:dashed;
 }



.breadcrumb ul li a {
    color: #000000;
}

body.top-search-active .logo{
        opacity: 1;
}


.cat {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    font-size: 14px
}

.siyah{
        color: black;

}

#header #header-wrap #logo a > img {
    vertical-align: sub;
    
}

.menu-overlay-active #header #menu-overlay-trigger .lines, .menu-overlay-active #header #menu-overlay-trigger .lines:before, .menu-overlay-active #header #menu-overlay-trigger .lines:after {
    background-color: #1d1c1c;
}


.item-border {
    border: 1px solid #eee;
    padding: 5px;
}
@media screen and (max-width: 991px)
{
.tabs-navigation li, .tabs-vertical .tabs-navigation li, .justified .tabs-navigation li, .justified .tabs-navigation li, .tabs-right .tabs-navigation li, .tabs-right .tabs-navigation li {
    width: 30%;
    float: none;
    display: -webkit-inline-box;
    text-align: left;
}
.menu-overlay-eleman-tel{
        margin-left: 12%!important;
}
.product .product-sale-off {   
    right: 127px!important;
    width: 70px!important;
    bottom: -6px!important;
}


}

.menu-hover-eleman {
    left: auto !important; 
    right: -108px !important;   
    margin-top: -289% !important;
}
.stok{
    padding-left: 0px;
    padding-right: 0px;
    width: 10%;

}
.stok-yaz{
    font-size:11px; line-height: 2;
}
@media screen and (max-width: 991px) {
    .item-borders {
        border: 1px solid #5bc0de3b;
        padding: 5px;
        border-radius: 6px;
        margin-top: 6px;
        box-shadow: 0 4px 16px #efefef!important;
        
    }

    .spanleft{
       margin-left: -14px;

    }
    .sldr{
   margin-top: -160%!important;
    }

    .textcenter{
        text-align:center

    }
}

.product .product-sale-off {
    border-radius: 12px 0 12px;
    bottom: 6px;
    font-size: 13px;
    color: #004a94;
    height: 32px;
    line-height: 32px;
    z-index: 1;
    width: 80px;
    right: 9px;
}



@media (max-width: 767px){
    .m-t-30{
margin-top: 30px;
           }
}

.portfolio-item-wrap{

        border-radius: 17px!important;
}

.fiyat {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 50px;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.verticalLine {
  border-left: 1px solid;
}

.ctgry-sldr {
    background-color: #004a94
}

.yok-table{

    color:red
}
.red-table {
    color: green
}
 .cart-credit-thumbnail img {
    max-width: 100px;
}
.table {
    width: 96%;
}

.header-li-height {
    height: 40px!important;
}

/* BEGIN: SELECT 2 */
.select2-selection__rendered{
    box-shadow: none;
    height: auto;
    padding: 10px 18px;
    border-radius: 4px;
    border: 1px solid #004a94;
    margin-bottom: 6px;
    line-height: 10px !important;
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--single{
    border: none !important;
}

/* ENDOF: SELECT 2 */